# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
build/.cmake/api/v1/reply/index-2024-10-23T07-35-12-0269.json
build/CMakeFiles
build/CMakeCache.txt
build/Makefile
build/cmake_install.cmake
build/fakegps
build/.cmake/api/v1/reply
build/nmea_simulator
rs/target
