#!/usr/env/bash

if command -v socat > /dev/null; then
    socat -d -d pty,raw,echo=0,link=/tmp/gps_input pty,raw,echo=0,link=/tmp/gps_output
else
    echo "socat not found"
    exit 1
fi

if [[ -f /vendor/bin/fakegps ]]; then
    /vendor/bin/fakegps --pipe /tmp/gps_input
fi
